body{
    background-color: darkolivegreen;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 50%;
    border-radius: 8px;
}


.head {
    font-weight: bold;
    font-style: italic;
    color: darkorange;
    
}

.paragraph{
    background-color: grey;

}

ul{
    display: inline-flex;
    margin: 0px;
    padding: 30px;
}
li{
    margin-right: 100px;
}
